SMTP_HOST=smtp.ionos.de
SMTP_PORT=587
SMTP_ENCRYPTION=tls
SMTP_USERNAME=dein-postfach@deinedomain.de
SMTP_PASSWORD=bitte-eintragen
MAIL_FROM_ADDRESS=dein-postfach@deinedomain.de
MAIL_FROM_NAME=TSC Wülfrath Website
MAIL_TO_ADDRESS=vorstand@tsc-wuelfrath.de
MIN_FORM_FILL_SECONDS=4
